@keyframes loadingDots {
    0%, 20% { content: ""; }
    40% { content: "."; }
    60% { content: ".."; }
    80%, 100% { content: "..."; }
  }
  
  .dots::after {
    display: inline-block;
    animation: loadingDots 1.2s steps(4, end) infinite;
    content: "...";
  }
  
  @keyframes loadingBar {
    0% { width: 0%; }
    100% { width: 100%; }
  }
  
  .loading-bar {
    height: 6px;
    background-color: #F0CAA3;
    animation: loadingBar 4s ease-in-out forwards;
    border-radius: 4px;
    transition: width 0.2s ease-in-out;
  }
  